@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.7.0/modern-normalize.css";
html {
  font-size: 16px; }
  @media screen and (max-width: 992px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

html, body {
  box-sizing: border-box;
  height: 100%; }

body {
  font-family: 'ubuntu', sans-serif;
  font-weight: normal;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  margin: 0;
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden; }

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 992px;
  position: relative; }
  @media screen and (max-width: 480px) {
    .container {
      padding: 0 0.625rem; } }

*, *::after, *::before {
  box-sizing: inherit; }

img {
  display: block;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #000000; }

p {
  margin: 0; }

a {
  color: inherit; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.btn {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6875rem 0.875rem 0.6875rem;
  border-radius: 4px;
  line-height: 1;
  border: none;
  outline: none; }
  .btn_primary {
    background: #e45028; }
    .btn_primary:hover {
      background: #d7431b; }
  .btn_default {
    background: #2f3234; }
    .btn_default:hover {
      background: #232527; }
  .btn_transparent {
    text-transform: none;
    font-size: 0.9375rem; }
    .btn_transparent:hover {
      text-decoration: underline; }

.head-section {
  background: url(../images/bg/bg_1.jpg) center top/cover no-repeat;
  max-width: 100%;
  height: 100vh;
  min-height: 40.625rem;
  padding: 1.5rem 0 3.125rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .head-section {
      background-position: right bottom 91%; } }
  .head-section__container {
    background: url(../images/bg/burger_1.png) left bottom 50%/50% auto no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .head-section__container {
        background-position: center top 33%;
        background-size: 66%; } }
    @media screen and (max-width: 480px) {
      .head-section__container {
        background-position: center top 20%;
        background-size: 82%; } }

.header {
  display: flex;
  align-items: center;
  position: relative; }
  .header__nav {
    margin-left: 2.75rem; }
  .header__btn {
    display: flex;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .header__btn {
        margin-right: 9%; } }
    @media screen and (max-width: 480px) {
      .header__btn {
        margin-right: 15%; } }
  .header__burger {
    position: fixed; }

.logo__img {
  width: 92px;
  height: 69px; }

.menu {
  color: #fff;
  text-transform: uppercase;
  margin-left: 3.75rem; }
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem; }
  .menu__item {
    margin-right: 2rem;
    position: relative; }
    .menu__item:before {
      position: absolute;
      content: "\2022";
      font-size: 1.25rem;
      top: -0.125rem;
      left: -1.25rem; }
    .menu__item:first-child:before {
      display: none; }
    .menu__item:last-child {
      margin-right: 0; }
  .menu__link {
    font-size: 0.8125rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.contact {
  font-size: 0.875rem; }
  .contact__phone {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #e45028; }
    .contact__phone:hover {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .contact__icon {
    width: 13px;
    height: 12px;
    margin-right: 6px;
    fill: #e45028; }
  .contact__phone-number {
    white-space: nowrap; }
  .contact__address {
    color: #ffffff;
    margin-bottom: 0.25rem; }
    @media screen and (max-width: 480px) {
      .contact__address {
        font-size: 1.25rem;
        margin-bottom: 1rem; } }

.burger-menu {
  width: 24px;
  height: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
  top: 4.7%;
  right: 5%; }
  @media screen and (max-width: 768px) {
    .burger-menu {
      display: inline-flex; } }
  .burger-menu__line {
    display: block;
    background: #ffffff;
    width: 24px;
    height: 4px;
    border-radius: 4px; }

.hero__content {
  display: block;
  margin-left: 50%;
  margin-bottom: 30%;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    .hero__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: 0;
      margin-bottom: 15%; } }
.hero__title {
  color: #f9b43b;
  font-family: 'gagalin', sans-serif;
  font-size: 4.6875rem;
  margin-bottom: 0.5rem; }
.hero__description {
  color: #fff;
  font-family: 'lifehack', sans-serif;
  font-size: 4.0625rem;
  line-height: 1; }

.best-section {
  background: url(../images/bg/bg_best.jpg) center top/cover no-repeat; }

.best {
  display: flex; }
  @media screen and (max-width: 480px) {
    .best {
      flex-direction: column; } }
  .best__item {
    flex: 1;
    padding-right: 3%;
    position: relative; }
    @media screen and (max-width: 768px) {
      .best__item {
        padding-right: 1%; } }
    @media screen and (max-width: 480px) {
      .best__item {
        padding-right: 0;
        margin-bottom: 2.5rem; }
        .best__item:last-child {
          margin-bottom: 0; } }
    .best__item:last-child {
      padding-right: 0; }
      .best__item:last-child:after {
        display: none; }

.advantage {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .advantage {
      display: flex;
      text-align: left; } }
  .advantage__wrapper {
    margin-bottom: 1.5625rem; }
    @media screen and (max-width: 480px) {
      .advantage__wrapper {
        margin-bottom: 0;
        margin-right: 1.25rem; } }
  .advantage__icon {
    width: 100px;
    height: 90px; }
    .advantage__icon_red {
      fill: #e45028; }
    .advantage__icon_yellow {
      fill: #f9b43b; }
    .advantage__icon_green {
      fill: #8ac334; }
  .advantage__content {
    font-size: 1.125rem; }
  .advantage__title {
    color: #2f3234;
    font-family: 'lifehack', sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) {
      .advantage__title {
        margin-bottom: 0.375rem; } }
  .advantage__description {
    color: #2f3234;
    line-height: 1.6;
    font-size: 0.875rem; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 40.625rem; }
  .section__title {
    color: #2f3234;
    font-family: 'gagalin', sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2.1875rem;
    text-align: center;
    text-transform: uppercase; }
    .section__title_white {
      color: #ffffff; }
    .section__title_primary {
      color: #e45028; }
    .section__title_secondary {
      color: #f9b43b; }
    @media screen and (max-width: 480px) {
      .section__title {
        font-size: 2.5rem;
        margin-bottom: 2.5rem; } }

.review__wrap {
  width: 100%;
  height: 50vh;
  object-fit: cover; }
  @media screen and (max-width: 768px) {
    .review__wrap {
      height: 25vh; } }
  .review__wrap_img {
    object-position: top center;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
    @media screen and (max-width: 480px) {
      .review__wrap_img {
        object-position: center center; } }
.review__content {
  display: none;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 8%;
  color: #ffffff; }
.review__author {
  font-size: 0.875rem;
  font-family: 'gagalin', sans-serif;
  color: #ffffff;
  margin-bottom: 1.25rem; }
.review__text {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 0.9375rem; }
  @media screen and (max-width: 480px) {
    .review__text {
      display: none; } }

.reviews__list {
  column-count: 4;
  column-gap: 0; }
  @media screen and (max-width: 992px) {
    .reviews__list {
      column-count: 3; } }
  @media screen and (max-width: 768px) {
    .reviews__list {
      column-count: 2; } }
.reviews__item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  position: relative; }
  @media screen and (max-width: 992px) {
    .reviews__item:nth-last-child(-n+2) {
      /* последние 2 потомка */
      display: none; } }
  @media screen and (max-width: 768px) {
    .reviews__item:nth-last-child(-n+2) {
      /* последние 2 потомка */
      display: block; } }
  .reviews__item:hover .review__content {
    display: block; }
  .reviews__item_active .review__content {
    display: block; }

.order {
  background: url(../images/bg/bg_form.jpg) center top/cover no-repeat; }

.form {
  display: flex;
  font-size: 0.875rem;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .form {
      flex-direction: column;
      padding: 0 19%; } }
  @media screen and (max-width: 480px) {
    .form {
      padding: 0; } }
  .form__col {
    flex: 1;
    margin-right: 1.25rem; }
    .form__col:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .form__col {
        margin-right: 0;
        margin-bottom: 1.25rem; }
        .form__col:last-child {
          margin-bottom: 0; } }
  .form__row {
    display: flex;
    margin-bottom: 1rem; }
    @media screen and (max-width: 768px) {
      .form__row {
        margin-bottom: 1.25rem; } }
    .form__row:last-child {
      margin-bottom: 0; }
  .form__block {
    flex: 1;
    margin-right: 1.5rem; }
    .form__block:last-child {
      margin-right: 0; }
  .form__title {
    margin-bottom: 0.25rem; }
  .form__input {
    font-family: 'ubuntu', sans-serif;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 4px;
    padding: 0.375rem 0.6875rem;
    outline: none;
    font-size: 0.875rem; }
    @media screen and (max-width: 768px) {
      .form__input {
        padding: 0.375rem 0.375rem; } }
    .form__input:focus {
      border-color: #f9b43b; }
    .form__input_textarea {
      height: 6.6875rem;
      resize: none;
      margin-bottom: 0.75rem; }
      @media screen and (max-width: 768px) {
        .form__input_textarea {
          height: 5.375rem; } }
  .form__controls {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      .form__controls {
        margin-bottom: 1.25rem; } }
    @media screen and (max-width: 480px) {
      .form__controls {
        justify-content: center; } }
  .form__btn {
    margin-top: 2.5rem; }
    @media screen and (max-width: 480px) {
      .form__btn {
        display: flex;
        justify-content: center; } }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 1.5rem;
  padding-top: 0.25rem; }
  @media screen and (max-width: 480px) {
    .radio {
      margin-bottom: 0.625rem; } }
  .radio:last-child {
    margin-right: 0; }
  .radio_checkbox .radio__visible {
    border-radius: 4px; }
    .radio_checkbox .radio__visible:before {
      content: "";
      display: none;
      width: 0.5rem;
      height: 0.5rem;
      background: #e45028;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .radio__element {
    display: none; }
    .radio__element:checked ~ .radio__visible:before {
      display: block; }
  .radio__visible {
    width: 0.875rem;
    height: 0.875rem;
    position: relative;
    border-radius: 50%;
    background: #ffffff; }
    .radio__visible:before {
      content: "";
      display: none;
      width: 0.5rem;
      height: 0.5rem;
      background: #e45028;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .radio__title {
    margin-left: 0.5rem; }

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 4%;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }
  .fixed-menu__item {
    margin-bottom: 0.3125rem; }
    .fixed-menu__item:last-child {
      margin-bottom: 0; }
    .fixed-menu__item_active .fixed-menu__link {
      border-color: #e45028; }
      .fixed-menu__item_active .fixed-menu__link:before {
        background: #e45028; }
  .fixed-menu__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative; }
    .fixed-menu__link:hover {
      border-color: #e45028; }
      .fixed-menu__link:hover:before {
        background: #e45028; }
    .fixed-menu__link:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .fixed-menu__link:focus {
      outline: none;
      border-color: #ffffff;
      border-radius: 50%; }

.map-section {
  background: url(../images/bg/bg_map.jpg) center top/cover no-repeat;
  position: relative; }
  .map-section:after {
    position: absolute;
    content: url(../images/icons/map-marker.png);
    width: 58px;
    height: 73px;
    top: 50%;
    left: 57%; }
  .map-section__footer {
    background: url(../images/bg/bg_form.jpg) center top/cover no-repeat;
    position: absolute;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0; }

.footer {
  display: flex;
  align-items: center;
  height: 3.75rem; }
  @media screen and (max-width: 480px) {
    .footer {
      flex-direction: column;
      height: 9.125rem; } }
  @media screen and (max-width: 480px) {
    .footer__contacts {
      padding-top: 0.625rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.625rem;
      margin-bottom: 1.125rem; } }
  .footer__socials {
    margin-left: auto; }
    @media screen and (max-width: 480px) {
      .footer__socials {
        margin-left: 0; } }

.social__list {
  display: flex;
  height: 22px;
  align-items: center; }
.social__item {
  margin-right: 1rem; }
  .social__item:last-child {
    margin-right: 0; }
.social__icon {
  fill: #595959;
  width: 24px;
  height: 20px; }
  .social__icon:hover {
    fill: #ffffff; }
  @media screen and (max-width: 480px) {
    .social__icon {
      width: 28px;
      height: 28px; } }

/*# sourceMappingURL=main.css.map */
