.fixed-menu{
  position: fixed;
  top: 30%;
  right: 4%;
  z-index: $z-fixed-menu;
  
  @include tablet{
    display: none;
  }
  
  &__item{
    margin-bottom: rem(5px);

    &:last-child{
      margin-bottom: 0;
    }
    &_active{
      .fixed-menu__link{
        border-color: $primary;
        &:before{
          background: $primary;  
        }
      }
    }

  }
  &__link{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;

    &:hover{
      border-color: $primary;
      &:before{
        background: $primary;
      }
    }

    &:before{
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:focus {
      outline: none;
      border-color: #ffffff;
      border-radius: 50%;
    }
  }

}