.review{

  &__wrap{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    
    @include tablet{
      height: 25vh;
    }

    &_img{
      object-position: top center;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  &__content{
    display: none;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 8%;
    color: #ffffff;
  }

  &__author{
    font-size: rem(14px);
    font-family: 'gagalin', sans-serif;
    color: #ffffff;
    margin-bottom: rem(20px);
  }
    
  &__text{
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: rem(15px);

    @include phone{
      display: none;
    }
  }
}

