.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: rem(650px);

  &__title{
    color: #2f3234;
    font-family: 'gagalin', sans-serif;
    font-size: rem(72px);
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: rem(35px);
    text-align: center;
    text-transform: uppercase;

    &_white{
      color: #ffffff;
    }
    &_primary{
      color: $primary;
    }
    &_secondary{
      color: $secondary;
    }
    @include phone{
      font-size: rem(40px);
      margin-bottom: rem(40px);
    }


  }
}